<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">All Posts</a>
        <a href="/newpost">New Post</a> 
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>  
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>

